.xiaoMi {
	font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif,"color":red;
}
.tbTechCenter{
	font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
}
.jiaWang{
	font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
}
.tbUED{
	font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
}
.yiTux{
	font-family: Helvetica, 'Hiragino Sans GB', 'Microsoft Yahei', '微软雅黑', Arial, sans-serif;
}